/* Import fonts */
@import url('../fonts/Roboto.css');

/* Reset and normalize */
@import url('./normalize.css');

html {
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-family: 'Source Sans Pro';
    font-size: 40px;
    font-weight: 600;
}

h2 {
    font-family: 'Source Sans Pro';
    font-size: 25px;
    font-weight: 600;
}

header {
    padding: 5px 3% 25px 3%;
    font-family: 'PT Sans';
    font-size: 16px;
    font-weight: 400;
    box-shadow: 0px 2px 5px #888888;
}

.search-container {
    float: right;
    text-align: right;
    width: 70%;
}

.inpt-search {
    width: 50%;
    min-width: fit-content;
    padding: 3px;
}

.btn-search {
    background-color: white;
    color: #f75c48;
    width: 17%;
    max-width: 100px;
    min-width: fit-content;
    padding: 3px 10px;
    border: 1px solid #f75c48;
    margin-left: 5px;
}

.btn-search:hover {
    background-color: #f75c48;
    color: white;
}

.h-title {
    width: fit-content;
    color: #f75c48;
}

.navi-btn-add {
    float: right;
    background-color: white;
    color: #f75c48;
    width: 17%;
    max-width: 150px;
    min-width: fit-content;
    padding: 3px 10px;
    border: 1px solid #f75c48;
}

.navi-btn-add:hover {
    background-color: #f75c48;
    color: white;
}

.navi-container {
    display: grid;
    width: 50%;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
}

.navi {
    color: #f75c48;
}

.navi:hover {
    color: #c0442c;
}

body {
    font-family: 'PT Sans';
    font-size: 16px;
    font-weight: 400;
    box-shadow: 0px 0px 9px #888888;
}

.b {
    margin: 40px 5% 0px 5%;
}

hr {
    align-items: center;
    margin: 20px auto;
    border: 1px solid;
    max-width: 50%;
    height: 0px;
    opacity: 0.5;
}

.b-title {
    text-align: center;
}

.title {
    color: black;
}

.comp-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.comp-card-item {
    width: 250px;
    min-width: fit-content;
    min-height: fit-content;
    margin: 10px;
    text-align: center;
    border: 1px dashed #f75c48;
    border-radius: 10px;
}

.comp-card-image {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    border: 2px solid #f75c48;
    border-radius: 100px;
}

.comp-card-image:hover {
    border-color: #c0442c;
}

.comp-card-content {
    margin-top: 10px;
    padding-bottom: 10px;
}

.c-cont-title {
    color: black;
}

.c-cont-info {
    color: black;
}

.c-cont-more {
    background-color: white;
    color: #f75c48;
    width: 30%;
    min-width: fit-content;
    padding: 3px 10px;
    margin-bottom: 10px;
    border: 1px solid #f75c48;
    margin-top: 10px;
}

.c-cont-more:hover {
    background-color: #f75c48;
    color: white;
}

.stat-table-items-container {
    background-color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}

.stat-table-data {
    width: 100%;
    text-align: center;
}

.stat-table-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.stat-table-column {
    font-family: 'PT Sans';
    font-size: 16px;
    font-weight: 400;
}

.stat-table-row:nth-child(2n) {
    background-color: #f7f1fb;
}

.t {
    font-size: 20px;
    border-bottom: 1px solid black;
}

.t:hover {
    background-color: #f6f6f6;
    border-bottom: 3px solid black;
}

.i:first-child {
    text-align: left;
    padding-left: 5%;
}

footer{
    margin-top: 40px;
    padding: 25px 3% 25px 3%;
    font-family: 'PT Sans';
    font-size: 16px;
    font-weight: 400;
    box-shadow: 0px -2px 5px #888888;
}

*, *::after, *::before {
    box-sizing: border-box;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    z-index: 10;
    background-color: white;
    width: 50%;
    max-width: 500px;
    height: fit-content;
    /* height: 70%; */
}

.modal.active {
    transform: translate(-50%, -50%) scale(1.0);
    height: fit-content;
    min-width: 300px;
    text-align: left;
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .modal-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}

.modal-header {
    background-color: #454547;
}

.modal-title {
    font-family: 'Source Sans Pro';
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.close-button {
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
    background-color: white;
}

.modal-add-container {
    display: grid;
    grid-template-columns: 100%;
    font-family: 'PT Sans';
    font-size: 16px;
    font-weight: 400;
    grid-row-gap: 5px;
    padding: 1% 5% 5% 5%;
    min-height: fit-content;
}

.add-modal-text {
    display: grid;
    grid-template-columns: 100%;
    color: #454547;
}

.add-wind-inpt {
    border: 1px solid black;
}

.rad-btn {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 3%;
    min-width: fit-content;
}

.rad {
    display: grid;
    grid-template-columns: 40% 5%;
    width: fit-content;
}

.rad-inpt {
    margin-left: 20px;
}

.em-ph-modal-inpt {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 10%;
}

.coun-cit-modal-inpt {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 10%;
}

.textar {
    height: 40px;
    min-height: fit-content;
}

.com {
    font-size: 12px;
    color: grey;
    margin: 0px 0px;
}

.navi-btn-modal-add {
    background-color: white;
    color: #f75c48;
    padding: 3px 10px;
    border: 1px solid #f75c48;
}

.navi-btn-modal-add:hover {
    background-color: #f75c48;
    color: white;
}


.teach-f-card-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    z-index: 10;
    background-color: white;
    width: 60%;
    min-height: fit-content;
    max-width: 500px;
}

.teach-f-card-modal.active {
    transform: translate(-50%, -50%) scale(1.0);
    width: 70%;
    min-width: 280px;
    max-width: 500px;
}

.window-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: #454547;
}

.window-header .window-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.window-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}

.window-title {
    font-family: 'Source Sans Pro';
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.window-body {
    font-family: 'PT Sans';
    font-size: 16px;
    font-weight: 400;
    padding: 10px 15px;
    background-color: white;
    min-height: fit-content;
    width: fit-content;
    padding: 1% 5% 5% 5%;
}

.f-card-pers-info {
    display: grid;
    grid-template-columns: 30% 50%;
    grid-column-gap: 5%;
    margin-bottom: 10px;
}

.f-card-image {
    margin-top: 5%;
    width: 100%;
    max-width: 200px;
}

.f-card-container {
    width: 100%;
    font-family: 'PT Sans';
    font-size: 16px;
    font-weight: 400;
    min-height: fit-content;
    text-align: left;
}

.f-card-container:first-child {
    font-family: 'Source Sans Pro';
    font-size: 18px;
}

.f-card-info {
    margin: 5px;
}

.com-map-card-info {
    display: grid;
    grid-template-columns: 30% 50%;
    grid-column-gap: 5%;
    max-height: fit-content;
}

.com-card-info {
    text-align: left;
    max-height: fit-content;
}

.map-card-info {
    text-align: left;
    width: 100%;
    height: 75px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}


@media only screen and (max-width: 768px) {

  .btn-search {
    margin-top: 5px;
  }

  .navigation {
    display: grid;
    grid-template-columns: 100%;
  }

  .navi-btn-add {
    width: 100%;
    max-width: 100%;
    float: right;
  }

  .navi-container {
    display: grid;
    margin-top: 10px;
    grid-template-columns: 100%;
    width: 100%;
  }

  .navi {
    text-align: center;
    border: 1px solid lightgrey;
    padding: 5px;
    margin-bottom: -10px;
  }
}